<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first.kaganmoshe.brainy" >

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >

            <!-- android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" > -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuessTheNumber.GuessTheNumberConfigActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GuessTheNumber.GuessTheNumberGameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Feedback.FeedbackActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HotAirBallon.HotAirBalloonGameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_hot_air_ballon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CrazyCube.CrazyCubeActivity"
            android:label="@string/title_activity_crazy_cube"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HotAirBallon.HABConfigActivity"
            android:label="@string/title_activity_habconfig"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CrazyCube.CCConfigActivity"
            android:label="@string/title_activity_ccconfing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MindShooter.MindShooterGameActivity"
            android:label="@string/title_activity_maind_shooter_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MindShooter.MindShooterConfigActivity"
            android:label="@string/title_activity_mind_shooter_config"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
