<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first.kaganmoshe.brainy" >

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!--android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuessTheNumber.GuessTheNumberConfigActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GuessTheNumber.GuessTheNumberGameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Feedback.FeedbackActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HotAirBallon.HotAirBalloonActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_hot_air_ballon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CrazyCube.CrazyCubeActivity"
            android:label="@string/title_activity_crazy_cube" >
        </activity>
    </application>

</manifest>
