<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first.kaganmoshe.brainy" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_brainy_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
        <activity
            android:name=".AppActivities.ConnectionActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >

            <!-- android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" > -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Games.GuessTheNumber.GuessTheNumberConfigActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Games.GuessTheNumber.GuessTheNumberGameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".ConnectionActivity" -->
        <!-- android:configChanges="orientation" -->
        <!-- android:label="@string/title_activity_setting" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar" > -->
        <!-- </activity> -->
        <activity
            android:name=".AppActivities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Feedback.FeedbackActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Games.HotAirBallon.HotAirBalloonGameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_hot_air_ballon"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Games.CrazyCube.CrazyCubeActivity"
            android:label="@string/title_activity_crazy_cube"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Games.HotAirBallon.HABConfigActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_habconfig"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Games.CrazyCube.CCConfigActivity"
            android:label="@string/title_activity_ccconfing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Games.MindShooter.MindShooterGameActivity"
            android:label="@string/title_activity_maind_shooter_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Games.MindShooter.MindShooterConfigActivity"
            android:label="@string/title_activity_mind_shooter_config"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AppActivities.GameGraph.GameGraphActivity"
            android:label="@string/title_activity_game_graph" >
        </activity>
        <activity
            android:name=".AppActivities.ActionBarActivity.ActionBarAppActivity"
            android:label="@string/title_activity_action_bar_app" >
        </activity>
        <activity
            android:name=".HistoryDataBase.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Feedback.DPFeedbackActivity"
            android:label="@string/title_activity_dpfeedback" >
        </activity>
        <activity
            android:name=".Feedback.FBActivity"
            android:label="@string/title_activity_fb" >
        </activity>
    </application>

</manifest>
